<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.dao.BookMapper">

    <insert id="addBook" parameterType="book">
        insert into books(bookID, bookName, bookCounts, detail)
        values (#{bookID}, #{bookName}, #{bookCounts}, #{detail});
    </insert>

    <select id="queryAllBook" resultType="book">
        select *
        from books;
    </select>

</mapper>